<div>
    <h1>Login using Github!</h1>
    <a href="/api/sessions/github"> <button>Login with Github</button> </a>
    <br>
    <h2>Don't want to use Github? You can use our links:</h2>
    <p>Not registered? <a href="/users/register">Sign up here</a></p>
    <p>Already have an account with us? <a href="/users/login">Login here</a></p>
</div>