<div class="container mt-5 w-50">
    <h2>Login using Github!</h2>
    <br>
    <a href="/api/sessions/github"> <button>Login with Github</button> </a>
    <br>
    <br>
    <h4>Don't want to use Github? You can use our links:</h4>
    <p>Not registered? <a href="/users/register">Sign up here</a></p>
    <p>Already have an account with us? <a href="/users/login">Login here</a></p>
</div>