<div class="container mt-5">
    <form id="loginForm">
        <div class="mb-3">
            <label for="nombre" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Insert your email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Insert your password">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <p>Not registered? <a href="/users/register">Sign up here</a></p>
</div>
<script src="/js/login.js"></script>