<div class="container mt-5 w-50">
    <h2>Login</h2>
    <br>
    <form id="loginForm">
        <div class="mb-3 w-50">
            <label for="nombre" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Insert your email">
        </div>
        <div class="mb-3 w-50">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Insert your password">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <br>
    <p>Not registered? <a href="/users/register">Sign up here</a></p>
    <br>
    <p>Forgot Password? <a href="/users/restore">Restore Password</a></p>
    <br>
    <p>Do you have a Github account? <a href="/github/login">Login with Github</a></p>
</div>
<script src="/js/login.js"></script>