
    <div class="container">
      <h1>Products</h1>
      <div class="products">
        {{#each productsToHtml}}
        <div class="product-card">
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
          <p>Price: $ {{this.price}}</p>
        </div>
        {{/each}}
      </div>
    </div>