<div class="container mt-5 w-50">
    <h2>Restore Password</h2>
    <br>
    <div style="display: none;" id="token">{{token}}</div>

    {{#if hasExpired}}
        <h2>The link has expired</h2>
        <h3>Go to<a href="/users/recover">recover password</a> to generate a new link.</h3>
    {{else}}
        <div class="container mt-5 w-50">
            <form id="recoverForm" class="form">
                <div class="mb-3 w-50">
                    <label for="passwordInput" class="form-label">New Password</label>
                    <input type="password" class="form-control" name="password" id="passwordInput">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            <br>
            <p>Not registered? <a href="/users/register">Sign up here</a></p>
        </div>
    {{/if}}
</div>
<script src="/js/recoverLanding.js"></script>