<div>
    <div class="container mt-5 w-50">
    <h2>Register</h2>
    <br>
        <form id="registerForm">
            <div class="mb-3 w-50">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" name="first_name" placeholder="Insert your First Name">
            </div>
            <div class="mb-3 w-50">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Insert your Last Name">
            </div>
            <div class="mb-3 w-50">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Insert your email">
            </div>
            <div class="mb-3 w-50">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" name="age" placeholder="Insert your Age">
            </div>
            <div class="mb-3 w-50">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Insert your password">
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
        <br>
        <p>Alreadt have an account? <a href="/users/login">Login here</a></p>
    </div>
</div>
<script src="/js/register.js"></script>